#ContactUS {
    
    * {
        font-family: "Poppins", sans-serif;
    }.text-primary {
    --tw-text-opacity: 1;
    color: rgb(52 152 219 / var(--tw-text-opacity));
}

.map {
    filter: hue-rotate(66deg);
}}